.contact{
    height:auto;
    margin-top:5%;
    background-color: #7b2fad;
    height: 100vh;
}
.contactBody{
    height: 30vh;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.contactBody h1{
    color:white;
    font-size: 50px;
}
.contactBody p{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.map{
    text-align: left;
    overflow: hidden;
    background-color: #7b2fad;
}


@media (min-width:60em){
    .contact{
        height:100vh;
        margin-top:5%;
        background-color: #7b2fad;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
    .contactBody{
        height: 30vh;
        margin: auto auto;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .contactBody h1{
        color:white;
        font-size: 50px;
    }
    .contactBody p{
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 20px;
    }
    .map{
        overflow: hidden;
    }
}